/* ----- Main Page Styling ----- */
#page-wrapper {
	position: fixed;
	top: calc(50% - 120px);
	left: 50%;
	transform: translateX(-50%);
	width: 600px;
	/* Don't let the bottom reach below 20px from the bottom of the viewport */
	max-height: calc(50% + 120px - 20px);
	display: flex;
	flex-direction: column;

	background-color: #D0D0D0;
}
#title-wrapper {
	height: 120px;
	margin: 0;
	padding: 0;
}
#title {
	height: 80px;
	margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding: 0;
	line-height: 80px;
	text-align: center;
	font-size: 3em;
}
#subtitle {
	height: 40px;
	line-height: 40px;
	margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	text-align: center;
	font-size: 1.5em;
}
#console-wrapper {
	position: relative;
	max-height: calc(50% - 20px - 20px);
	margin: 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
#output-lines {
	margin: 0;
	padding: 0;
	overflow-y: auto; /* Scrollbar only when needed */
	/* TODO: Custom (JS) scrollbar to fit look/feel */

	background-color: blue;
	list-style-type: none;
}
.output-line {
	margin-top: 2px;
	margin-bottom: 2px;
}
#input-form {
	position: relative;
	margin-top: 2px;
	margin-bottom: 2px;

	background-color: green;
}
#input {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	border: none;
	font-size: 1em;
	margin-left: 4px;

	color: inherit;
	background-color: inherit;
	font: inherit;
	outline: none;
}


/* ----- Lightbox Styling -----*/
#lightbox-dimmer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
}
#lightbox {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 11;
	max-height: calc(100% - 50px);
	max-width: calc(100% - 50px);
	overflow: hidden;

	background-color: blue;
}
#lightbox-closebutton {
	position: absolute;
	right: 0%;
	top: 0%;
	height: 20px;

	background-color: red;
	cursor: pointer;
}
#lightbox-content {
	margin: 20px;
	max-height: calc(100% - 40px);
	max-width: calc(100% - 40px);
	overflow: hidden;

	background-color: green;
}

/* Layout handling for documents - grow to screen, not content size */
.document-view {
	min-height: calc(100% - 50px);
	min-width: calc(100% - 50px);
}
.document-view #lightbox-content {
	position: absolute;
	height: calc(100% - 40px);
	width: calc(100% - 40px);
}
.document-view iframe {
	height: 100%;
	width: 100%;
}