/* ----- Main Page Layout ----- */
#page-wrapper {
	width: 600px;

	/* Center horizontally, and vertically center the bottom of #title-wrapper */
	position: fixed;
	top: calc(50% - 120px);
	left: 50%;
	transform: translateX(-50%);

	/* Don't let the bottom reach below 20px from the bottom of the viewport */
	max-height: calc(50% + 120px - 20px); /* 50% of viewport + 120px #title-wrapper - 20px at bottom */

	/* Flexbox is the only way to get the console to play nice with max heights */
	display: flex;
	flex-direction: column;
}
#title-wrapper {
	height: 120px;
	margin: 0;
	padding: 0;
}
#title {
	height: 80px;
	margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding: 0;
	font-size: 3em;

	/* Center text vertically & horizontally */
	line-height: 80px;
	text-align: center;
}
#subtitle {
	height: 40px;
	padding: 0;
	margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	font-size: 1.5em;

	/* Center text vertically & horizontally */
	line-height: 40px;
	text-align: center;
}
#console-wrapper {
	max-height: calc(50% - 20px - 20px); /* 50% of viewport - 20px padding - 20px at bottom */
	margin: 0;
	padding: 10px;

	/* Flexbox is the only way to get the output lines to play nice with max heights */
	display: flex;
	flex-direction: column;
}
#output-lines {
	position: relative; /* perfect-scrollbar needs this on the container */
	margin: 0;
	padding: 0;
}
.output-line {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
#input-form {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;

	/* Horizontal flexbox so we can make #input fill all remaining space */
	display: flex;
	align-items: center;
}
#input {
	font-size: inherit; /* Don't have smaller font, as is browser default */
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 4px; /* Space after #input-glyph (> symbol) */
	margin-right: 0;
	flex-grow: 1; /* take all remaining space */
}

/* ----- Main Page Styling ----- */
body {
	background-color: #404040;
}
#page-wrapper {
	border-radius: 5px;
	background-color: #000000;
	color: #00FF00;
	font-family: "Lucida Console", Monaco, monospace;
}
#output-lines {
	list-style-type: none;
}
#input {
	/* Clear all the default input box styling */
	border: none;
	color: inherit;
	background-color: inherit;
	font: inherit;
	outline: none; /* Don't highlight when focused. */
}


/* ----- Lightbox Layout ----- */
#lightbox-dimmer {
	display: none;
	z-index: 10;

	/* Fill entire viewport */
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#lightbox {
	display: none;
	z-index: 11;

	/* Center vertically and horizontally on viewport */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* Keep 20px buffer from edges of viewport */
	max-height: calc(100% - 40px);
	max-width: calc(100% - 40px);
}
#lightbox-closebutton {
	/* Position in top-right corner */
	position: absolute;
	right: 0%;
	top: 0%;
	height: 20px;

	/* Center text vertically & horizontally */
	line-height: 20px;
	text-align: center;
}
#lightbox-content {
	position: relative; /* perfect-scrollbar needs this on the container */
	margin: 20px;
	/* 20px margin on each side, 20px buffer from edge of viewport. We need vh/vw because parent has no set height. */
	max-height: calc(100vh - 40px - 40px);
	max-width: calc(100vw - 40px - 40px);
	overflow: hidden;
}

/* Layout handling for documents - grow to screen, not content size */
.document-view {
	min-height: calc(100% - 50px);
	min-width: calc(100% - 50px);
}
.document-view #lightbox-content {
	position: absolute;
	/* Using height instead of max-height makes it grow to the screen */
	height: calc(100% - 40px); /* 20px margin on each side */
	width: calc(100% - 40px); /* 20px margin on each side */
}
.document-view iframe {
	height: 100%;
	width: 100%;
}

/* ----- Lightbox Styling ----- */
#lightbox-dimmer {
	background-color: rgba(0,0,0,0.5);
}
#lightbox {
	background-color: #BBBBBB;
	border-radius: 5px;
}
#lightbox-closebutton {
	background-color: #505050;
	color: #BBBBBB;
	font-size: 0.5em;
	font-weight: bold;
	padding-left: 0.25em;
	padding-right: 0.25em;
	cursor: pointer;
}
#lightbox-content {
	background-color: #000000;
	color: #00FF00;
	font-size: 1.2em;
}
#lightbox-content > div {
	margin: 10px;
}
#lightbox-content > img {
	margin: 0;
}

/* ----- Content-Specific Styles ----- */
/* two-column lists */
ul.skills-list {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	list-style-position: inside;
	list-style-type: disc;

	font-weight: bold;
}
p.skills-list-header {
	font-weight: bold;
}
p.job-header-left {
	min-width: 200px;
	display: inline-block;
}
p.job-header-right {
	min-width: 200px;
	float: right;
	text-align: right;
}
p.contact-item > span:first-child {
	min-width: 200px;
	font-weight: bold;
	display: inline-block;
}
p.contact-item > span:last-child {
	display: inline-block;
}

/* ----- Perfect-Scrollbar Styling ----- */
/* Visually indicate that there is more content by making the scrollbar visible even when not hovering */
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
	opacity: 0.4;
}
.ps-container.ps-active-x > .ps-scrollbar-x-rail {
	opacity: 0.4;
}
/* ... but more opaque when hovering */
.ps-container.ps-active-y:hover > .ps-scrollbar-y-rail {
	opacity: 0.9;
}
.ps-container.ps-active-x:hover > .ps-scrollbar-x-rail {
	opacity: 0.9;
}